:root {
  /* cores */

  --color1: #ff0000;
  --color2: #999999;
  --color3: #f6a355;
  --color4: #212121;
  --color5: #ededed;
  --white: #ffffff;
  --black: #000000;
  --shadow: #00000099;
  --success: #00bf8e;
  --warning: #f7c94b;
  --color-danger: #f75842;

  /* RESPONSIVIDADE */

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  /* TRANSIÇÃO */

  --transition: all 400ms ease;
}

/* CONFIGURAÇÕES GERAIS */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: var(--fs-1);
  color: var(--white);
  background: var(--color2);
  overflow: hidden;
}

/* CONFIG BOTÃO */

.btn {
  display: inline-block;
  background: var(--white);
  color: var(--black);
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-size: var(--fs-8);
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--white);
  border-color: var(--white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--white);
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--black);
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--white);
  box-shadow: -0.3rem 0.3rem 0.3rem var(--shadow);
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list list{
  color: var(--black);
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  cursor: pointer;
  position: relative;
  margin: 12px;
}

.nav-list li a {
  color: var(--black);
  transition: var(--transition);
}

.nav-list li a:hover {
  margin: 2px;
  padding: 2px;
  transition: var(--transition);
}

/* =============== DROPDOWN (MINHA CONTA) ================= */

.nav-list-account {
  width: 250px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--white);
  box-shadow: -0.3rem 0.3rem 0.3rem var(--shadow);
}

.my-account{
  color: black;
}

.nav-list li:hover .nav-list-account {
  display: block;
  z-index: 10;
}

/* =================== MENU HAMBURGUER ===================== */

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--black);
  margin: 8px;
  opacity: 0;
}

/* =================== NAV PARA O A PAGINA PRINCIPAL E MERCADO ============= */

nav.market{
  display: flex;
  height: 5vh;
  color: var(--white);
  background-color: var(--color1);
  margin: 0;
  padding: 0;
}

.nav-market li a{
  color: var(--white);
}

.logo-market{
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--white);
}

.nav-market li{
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;
    position: relative;
    margin: 12px;
    font-size: 14px;
}

/* =============== RESPONSIVIDADE PARA TABLETS ================= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  body{
    overflow: hidden;
  }

  /* =================== NAVBAR =================== */

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 55vh;
    background: var(--white);
    box-shadow: -0.3rem 0.3rem 0.3rem var(--shadow);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 10;
  }

  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
    cursor: pointer;
  }

  .mobile-menu div{
    opacity: 1;
  }

  .nav-list.active{
    transform: translateX(0);
  }

  .nav-list-account {
    position: relative;
    width: 100%;
    top: auto;
    right: auto;
    box-shadow: none;
    text-align: center;
  }

  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/* ======================== RESPONSIVIDADE PARA CELULARES ====================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  body{
    overflow: hidden;
  }

  /* ============== NAVBAR =============== */

  .nav_menu {
    right: 3%;
  }
}