:root {
  /* cores */

  --spanish-gray: #999999;
  --sonic-silver: #787878;
  --seric-black: #212121;
  --salmon-pink: #ff8f9c;
  --sandy-brown: #f6a355;
  --bittersweet: #ff8f8f;
  --ocean-green: #46c389;
  --cultured: #ededed;
  --white: #ffffff;
  --black: #000000;
  --onyx: #454545;
  --shadow: #00000099;
  --success: #00bf8e;
  --warning: #f7c94b;
  --color-danger: #f75842;

  /* tipografia */

  --fs-1: 1.563rem;
  --fs-2: 1.375rem;
  --fs-3: 1.25rem;
  --fs-4: 1.125rem;
  --fs-5: 1.1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fs-8: 0.813rem;
  --fs-9: 0.875rem;
  --fs-10: 0.688rem;
  --fs-11: 0.625rem;

  --weight-300: 300;
  --weight-300: 400;
  --weight-300: 500;
  --weight-300: 600;
  --weight-300: 700;

  /* RESPONSIVIDADE */

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  /* TRANSIÇÃO */

  --transition: all 400ms ease;
}

/* CONFIGURAÇÕES GERAIS */

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  line-height: var(--fs-1);
  color: var(--white);
  background: var(--spanish-gray);
  overflow: hidden;
}

/* CONFIG BOTÃO */

.btn {
  display: inline-block;
  background: white;
  color: black;
  padding: 1rem 2.5rem;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  font-size: var(--fs-8);
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: white;
  border-color: white;
}

.btn-primary {
  background: var(--color-danger);
  color: white;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: var(--white);
  margin: 8px;
  opacity: 0;
}

.window-scroll {
  background: var(--sandy-brown);
  box-shadow: 0 1rem 2rem var(--shadow);
}

/* =============== RESPONSIVIDADE PARA TABLETS ================= */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  body{
    overflow: hidden;
  }

  /* =================== NAVBAR =================== */

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 40vw;
    height: 40vh;
    background: var(--sandy-brown);
    box-shadow: 1rem 0.3rem 5rem var(--shadow);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 10;
  }

  .nav-list li{
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu{
    display: block;
    cursor: pointer;
  }

  .mobile-menu div{
    opacity: 1;
  }

  .nav-list.active{
    transform: translateX(0);
  }

  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
/* ======================== RESPONSIVIDADE PARA CELULARES ====================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  body{
    overflow: hidden;
  }

  /* ============== NAVBAR =============== */

  .nav_menu {
    right: 3%;
  }
}